/* main */
main{
    display: flex;
    flex-direction: column;
}

/* log text */
.log-text{
    transition: 0.1s linear;
}

.log-text:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
}

/* blocktext container */
.blocktext-container {
    align-self: center;
    margin: 3.5em;
    width: 79.6em;
    display: grid;
    grid-template-columns: repeat(4, 16.5em);
    column-gap: 4em;
    row-gap: 2.5em;
}

/* add blocktext */
.add-blocktext {
    content: '';
    width: 15em;
    height: 15em;
    padding: 1.5em;
    border: 1px dashed var(--main-border-color);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.1s linear;
}


.first-line, .second-line {
    width: 7em;
    height: 0.3em;
    background-color: var(--button-color);
    border-radius: 0.3em;
}

.first-line {
    position: absolute;
    -webkit-transform: rotate(90deg);
}

.second-line {
    position: absolute;
}

.add-blocktext:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
}

/* blocktext */
.blocktext {
    width: 15em;
    height: 15em;
    padding: 1.5em;
    border: 1px solid var(--main-border-color);
    border-radius: 1em;
    transition: 0.1s linear;
    position: relative;
}

.blocktext-name {
    font-size: var(--font-size-mid);
}

.blocktext .main-text{
    user-select: text;
    cursor: text;
    margin-top: 0.5em;
}

.blocktext:hover{
    transform: scale(1.02);
    transition: 0.1s linear;
}

.blocktext text{
    position: relative;
    user-select: text;
    -webkit-user-select: text;
    cursor: text;
}

.blocktext .overlay-link,
.add-blocktext .overlay-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1em;
    text-decoration: none;
    z-index: -1;
}