{% load static %}

<!--title profile_img user_name-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'css/base_style.css' %}">
    {% block style %} {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
     <header>
        <a href="{% url 'main:home' %}" class="btn-home">News</a>
        <span class="menu-button">Menu</span>
        <div class="dropdown">
            <div class="profile-header">
                <a href="{% url 'user_profiles:profile' %}" class="profile-header profile">
                <img src="{{ profile_img }}" alt="Profile Picture" class="profile-img">
                <div class="profile-info">
                    <h4>{{ user_name }}</h4>
                </div>
                </a>
            </div>
            <ul class="menu">
                <li><button class="menu-item"><a href="{% url 'user_profiles:profile' %}" class="button-a">Settings</a></button></li>
                <li><button class="menu-item toggle-switch">
                    <span>Theme</span>
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider"></span>
                    </label>
                    </button>
                </li>
                <li><button class="menu-item" ><a href="" class="button-a">Help</a></button></li>
                <li><button class="menu-item logout-btn"><a href="{% url 'users:logout' %}" class="button-a logout">Log Out</a></button></li>
            </ul>
        </div>
    </header>
    {% block content %} {% endblock %}
    <footer>
        <p class="footer-text">This website was made by me.</p>
    </footer>
</body>
<script src="{% static 'js/base_script.js' %}"></script>
{% block script %} {% endblock %}
</html>